@import './variables';
@import './mixins';

body {
  font-family: $font-stack;
  background-color: $secondary-color;
  margin: 0;
  padding: 0;
  .gradient-background {
    background: linear-gradient(
      to bottom,       
      #E3F0F9,            
      #F8FAFC,            
      #F1F5F9              
    );
  }
  
}


